.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.page__header{
    margin-bottom: 15px;
}
.left-content {
    width: 75%;
    padding-right: 15px;
    padding-left: 15px;
}

.right-content {
    width: 25%;
}

.info-title {
    font-size: 40px;
    font-weight: 700;
    margin-right: 26px;
    margin-bottom: 0.5rem;
}

.signal {
    width: 20px;
    height: 20px;
}

.dot-signal {
    width: 10px;
    height: 10px;
    background-color: #ff5550;
    border-radius: 50%;
}

.circle-signal {
    border: 2px #ff5550 solid;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.circle-1 {
    animation: signal-animation1 3s infinite;
}

.circle-2 {
    animation: signal-animation2 3s infinite;
}

@keyframes signal-animation1 {
    from {
        padding: 5px;
        opacity: 1;
    }
    to {
        padding: 15px;
        opacity: 0;
    }
}

@keyframes signal-animation2 {
    from {
        padding: 5px;
        opacity: 1;
    }
    to {
        padding: 10px;
        opacity: 0;
    }
}
.scroll-table{
    height: calc(100vh - 248px);
    overflow: auto;
    border-bottom: 1px solid #e4e4e4;
    position: relative;
    border-top: 1px solid #e4e4e4;
}
table{
    border: unset;
}
.head-title{
    font-weight: 500;
    z-index: -1;
}
thead{
    z-index: 2;
    position: sticky;
    top: -1px;
    background-color: white;

}
th{
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.filter-btn {
    margin-right: 15px;
    padding: 4px 20px;
    margin-bottom: 10px;
    border-radius: 18px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    color: #069255;
    background-color: #efefef
}

.filter .active {
    background-color: #069255;
    color: white;
}

.btn-utility {
    margin-bottom: 10px;
    font-weight: 500;
    border-radius: 18px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    width: 162px;
    background-color: #069255;
    color: white;
    font-size: 14px
}
.btn-utility:hover {
    background-color: #067b50;
}
.btn-utility span {
    margin-left: 10px;
}
.table-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0;

}
.head-sort {
    color: #adacac;
    z-index: -1;
}